automation_1.json
{
  "name": "CHAOSZILLA_CHANNEL_ANALYZER_V1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Channels"
      },
      "id": "read_channels",
      "name": "Read Channel List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "split_channels",
      "name": "Split Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{$json[\"Channel\"]}}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "key",
              "value": "YOUR_YOUTUBE_API_KEY"
            }
          ]
        }
      },
      "id": "youtube_search",
      "name": "YouTube Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const videos = items[0].json.items || [];\nreturn videos.map(video => {\n  const title = video.snippet.title;\n  const published = new Date(video.snippet.publishedAt);\n  const now = new Date();\n  const hoursAgo = Math.max(1, (now - published) / 3600000);\n\n  return {\n    json: {\n      title,\n      description: video.snippet.description,\n      channel: video.snippet.channelTitle,\n      thumbnail: video.snippet.thumbnails.high.url,\n      publishedAt: video.snippet.publishedAt,\n      hoursAgo: Math.floor(hoursAgo)\n    }\n  }\n});"
      },
      "id": "extract_video_data",
      "name": "Extract Video Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-exp:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral YouTube shorts analyst AI. Analyze niche channel psychology deeply.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this video title and predict why it may go viral. Detect hook style, emotional engine, thumbnail psychology, cliffhanger style, and possible trend pattern. Video title: {{$json[\\\"title\\\"]}}\"\n    }\n  ]\n}"
      },
      "id": "gemini_analysis",
      "name": "Gemini Trend Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek/deepseek-chat-v3-0324:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a critical trend analysis AI. Find hidden opportunities competitors are missing.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Critique and improve this analysis. Find trend gaps and unexplored viral opportunities: {{$json[\\\"choices\\\"][0][\\\"message\\\"][\\\"content\\\"]}}\"\n    }\n  ]\n}"
      },
      "id": "deepseek_gap_analysis",
      "name": "DeepSeek Gap Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const report = items[0].json.choices[0].message.content;\nreturn [{json:{report}}];"
      },
      "id": "build_report",
      "name": "Build Trend Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1950,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "TrendReports",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Report": "={{$json[\"report\"]}}"
          }
        }
      },
      "id": "save_report",
      "name": "Save Trend Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "🔥 CHAOSZILLA TREND REPORT\n\n{{$json[\"report\"]}}"
      },
      "id": "telegram_send",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2450,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Channel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Channel List": {
      "main": [
        [
          {
            "node": "Split Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Channels": {
      "main": [
        [
          {
            "node": "YouTube Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search": {
      "main": [
        [
          {
            "node": "Extract Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video Data": {
      "main": [
        [
          {
            "node": "Gemini Trend Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Trend Analysis": {
      "main": [
        [
          {
            "node": "DeepSeek Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Gap Analysis": {
      "main": [
        [
          {
            "node": "Build Trend Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Trend Report": {
      "main": [
        [
          {
            "node": "Save Trend Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Trend Report": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "CHAOSZILLA_CHANNEL_ANALYZER_V1"
}
